{% extends "base.html" %}

{% block content %}

<h1>Последние новости из мира сериалов</h1>
<div class="row row-cols-1 row-cols-md-3">
    {% for item in articles %}
      <div class="col mb-4">
        <div class="card h-100">
            <img src="/static/img/{{item.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.heading}}</p>
                <a href="/article/{{item.id}}" class="btn btn-primary">Переход куда-нибудь</a>
            </div>
        </div>
          </div>
    {% endfor %}
</div>

{% endblock %}